<div class = "table-chart-demo demo container">
  <div class = "demo-ind">
    <div class = "demo-toggle start"></div>
    <div class = "demo-message">Table Chart</div>
  </div>
  <div class = "chart" style = "max-width: 700px;"></div>
</div>
<script>
  (function(){
    var id = "table-chart";

    var chartContainer = d3.select('.'+id+'-demo .chart');

    var chart = d2b.CHARTS.tableChart()
      .select('.'+id+'-demo .chart');

    var currentSlide = 0;

    var interval;

    function resize(){
      var width = chartContainer.node().getBoundingClientRect().width;
      chart
        .width(width)
        .height(300)
        .animationDuration(500);
    }

    $('.'+id+'-demo .demo-toggle').click(function(){
      var button = $(this);

      if(button.hasClass("start")) interval = setInterval(switchSlides, 2000);
      else clearInterval(interval);

      button.toggleClass("start");
      button.toggleClass("stop");
    });

    $(window).on('resize.'+id+'-demo', function(){
      resize();
      chart.animationDuration(0).update().animationDuration(500)
    });
    resize();

    function rand(){
      return Math.round(Math.random() * 100000);
    }

    function shuffle(array) {
      var currentIndex = array.length, temporaryValue, randomIndex ;

      // While there remain elements to shuffle...
      while (0 !== currentIndex) {

        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }

      return array;
    }

    function switchSlides(){
      var data = {data: {rows: []}};

      var val = rand();
      var parts = shuffle([val/3, val/6, val/2]);
      var parts2 = shuffle([val/6, val/6, val/6, val/3, val/6]);
      parts = parts.map(function(d){ return Math.round(d); });
      parts2 = parts2.map(function(d){ return Math.round(d); });

      data.data.rows.push(
        {
          label: "Fact A",
          value: val,
          subFacts: [
            {
              label: "Sub Facts 1",
              values: [
                {
                  label: "Sub Fact A",
                  value: parts[0]
                },
                {
                  label: "Sub Fact B",
                  value: parts[1]
                },
                {
                  label: "Sub Fact C",
                  value: parts[2]
                }
              ]
            },
            {
              label: "Sub Facts 2",
              values: [
                {
                  label: "Sub Fact A",
                  value: parts2[0]
                },
                {
                  label: "Sub Fact B",
                  value: parts2[1]
                },
                {
                  label: "Sub Fact C",
                  value: parts2[2]
                },
                {
                  label: "Sub Fact D",
                  value: parts2[3]
                },
                {
                  label: "Sub Fact E",
                  value: parts2[4]
                }
              ]
            }
          ]
        }
      );

      val = rand();
      parts = shuffle([val/3, val/6, val/2]);
      parts2 = shuffle([val/6, val/6, val/6, val/3, val/6]);
      parts = parts.map(function(d){ return Math.round(d); });
      parts2 = parts2.map(function(d){ return Math.round(d); });

      data.data.rows.push(
        {
          label: "Fact B",
          value: val,
          subFacts: [
            {
              label: "Sub Facts 1",
              values: [
                {
                  label: "Sub Fact A",
                  value: parts[0]
                },
                {
                  label: "Sub Fact B",
                  value: parts[1]
                },
                {
                  label: "Sub Fact C",
                  value: parts[2]
                }
              ]
            },
            {
              label: "Sub Facts 2",
              values: [
                {
                  label: "Sub Fact A",
                  value: parts2[0]
                },
                {
                  label: "Sub Fact B",
                  value: parts2[1]
                },
                {
                  label: "Sub Fact C",
                  value: parts2[2]
                },
                {
                  label: "Sub Fact D",
                  value: parts2[3]
                },
                {
                  label: "Sub Fact E",
                  value: parts2[4]
                }
              ]
            }
          ]
        }
      )

      val = rand();
      parts = shuffle([val/3, val/6, val/2]);
      parts2 = shuffle([val/6, val/6, val/6, val/3, val/6]);
      parts = parts.map(function(d){ return Math.round(d); });
      parts2 = parts2.map(function(d){ return Math.round(d); });

      data.data.rows.push(
        {
          label: "Fact C",
          value: val,
          subFacts: [
            {
              label: "Sub Facts 1",
              values: [
                {
                  label: "Sub Fact A",
                  value: parts[0]
                },
                {
                  label: "Sub Fact B",
                  value: parts[1]
                },
                {
                  label: "Sub Fact C",
                  value: parts[2]
                }
              ]
            },
            {
              label: "Sub Facts 2",
              values: [
                {
                  label: "Sub Fact A",
                  value: parts2[0]
                },
                {
                  label: "Sub Fact B",
                  value: parts2[1]
                },
                {
                  label: "Sub Fact C",
                  value: parts2[2]
                },
                {
                  label: "Sub Fact D",
                  value: parts2[3]
                },
                {
                  label: "Sub Fact E",
                  value: parts2[4]
                }
              ]
            }
          ]
        }
      )

      val = rand();
      parts = shuffle([val/3, val/6, val/2]);
      parts2 = shuffle([val/6, val/6, val/6, val/3, val/6]);
      parts = parts.map(function(d){ return Math.round(d); });
      parts2 = parts2.map(function(d){ return Math.round(d); });

      data.data.rows.push(
        {
          label: "Fact D",
          value: val,
          subFacts: [
            {
              label: "Sub Facts 1",
              values: [
                {
                  label: "Sub Fact A",
                  value: parts[0]
                },
                {
                  label: "Sub Fact B",
                  value: parts[1]
                },
                {
                  label: "Sub Fact C",
                  value: parts[2]
                }
              ]
            },
            {
              label: "Sub Facts 2",
              values: [
                {
                  label: "Sub Fact A",
                  value: parts2[0]
                },
                {
                  label: "Sub Fact B",
                  value: parts2[1]
                },
                {
                  label: "Sub Fact C",
                  value: parts2[2]
                },
                {
                  label: "Sub Fact D",
                  value: parts2[3]
                },
                {
                  label: "Sub Fact E",
                  value: parts2[4]
                }
              ]
            }
          ]
        }
      )
      chart
        .data(data)
        .update();
    }

    switchSlides();

  })();
</script>
