<div id = "welcome">

  <div class = "container" id = "page-header">
    <%= image_tag 'logo', class: 'd2b-logo' %>  
    <p>
      D2B is a reusable charting library that uses the data visualization library D3.js. D2B is packed full of features for various types of charts. It also includes hooks to customize each chart to fit your neads. Take a look at the demos below to get an idea of what D2B can do.
    </p>
  </div>

  <axis-chart-demo></axis-chart-demo>
  <sunburst-chart-demo></sunburst-chart-demo>
  <pie-chart-demo></pie-chart-demo>

</div>

<script>
  (function () {

    var welcome = new Vue({
      el: "#welcome",
      data: {
      }
    });

  })();
</script>
