$dark_blue: #252839;
$light_blue: #036081;
$dark_grey: #677077;
$light_grey: #b5b5b7;
$light_red: #CE0F3B;
$dark_red: #81162F;

$yellow: #D6CC25;
$white: #f8f8f8;
$light: #d8d8d8;

$max­-wi­dth: 100%;

$mobile: new-breakpoint(max-width 700px);

@mixin transition($duration) {
  -webkit-transition: all $duration;
     -moz-transition: all $duration;
      -ms-transition: all $duration;
          transition: all $duration;
}

@mixin box_shadow() {
  -webkit-box-shadow: 0px 0px 2px $light_grey;
     -moz-box-shadow: 0px 0px 2px $light_grey;
        	box-shadow: 0px 0px 2px $light_grey;
}
