.demo{
    position:relative;
    .demo-button{
      text-align:center;
      color: white;
      display:table;
      margin:auto;
      overflow:hidden;
      border-radius:3px;
      width: 200px;
      cursor:pointer;

      &:hover {
        .demo-toggle {
          background: $dark_blue;
        }
      }

      .demo-toggle{
        @include transition(0.25s);
        font-size: 14px;
        background: $light_blue;
        color: white;
        padding:5px 20px;
      }
      .demo-message{
        @include transition(0.25s);
        padding:10px 20px;
        // padding:5px 10px;
        font-size: 20px;
        background: $light_grey;
      }
    }
    .demo-chart{
      margin:auto;
      height: 500px;
    }
}
