.edit-widget{
  @include box_shadow;

  position: relative;
  background: rgba(200, 200, 200, 0.15);
  border: 1px solid $light_grey !important;
  border-radius: 3px;
  margin: 20px 0px;

  iframe{
		//setting width this way fixes mobile resize bug
		width:calc(100vw - 120px);
  }
}
