.entry {
	border-top:2px dotted #ddd;

	// margin-bottom: 20px;
	padding-top:20px;
	padding-bottom:20px;
	*{
		color:#444;
		text-decoration:none;
	}
	&:hover{
		h2{
			text-decoration:underline;
		}
		.thumbnail img{
			transform: scale(1.05);
		}
	}
	h2 {
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		font-size: 18px;

		a {
			text-decoration: none;
			color: #444;

			&:hover {color: black;}
		}
	}
	.thumbnail{
		max-height: 130px;
		overflow:hidden;
		border:1px solid #ddd;
		img{
			-webkit-transition: all 0.5s;
			transition: all 0.5s;
			width:100%;
			margin-top:0px;
		}
	}
	span {
		font-size: 12px;
		color: #aaa;
	}

	p {
		// margin: 10px 0px;
		font-size: 300;
		font-size: 14px;
	}
}
