body {
	padding: 0;
	margin: 0;

	font-family: 'Lato';
	background-image: url('crossword.png');
}

.container{
  // padding: 20px 40px;
  @include outer-container;
  max-width: 100%;
  padding: 40px;
}

#page-header{
  background: $dark_blue;
  color:white;
	padding:20px 40px 50px 40px;
	// margin-bottom: 20px;
	font-weight:100;
	p{
		font-size: 20px;
		color: $light_grey;
	}
}

h1{
	font-size: 60px;
}

@mixin transition($duration) {
  -webkit-transition: all $duration;
     -moz-transition: all $duration;
      -ms-transition: all $duration;
          transition: all $duration;
}

footer{
	clear:both;
	text-align:center;
	background: $dark_blue;
	// margin-top: 20px;
	img{
		width: 70px;
	}
}

a{
	text-decoration: none;
}

.link{
	@include transition(0.25s);
	border-bottom: 1px solid rgba(0,0,0,0);
	color: black;
	&:hover{
		border-bottom: 1px solid $light_red;
		color: $light_red;
	}
}


// #main {
// 	max-width: 960px;
// 	margin: auto;
//
// 	margin-top: 30px;
// }

//
// #{$all-text-inputs} {
// 	padding: 5px 10px;
// }
//
//
// textarea {
// 	padding: 10px;
// }
//
//
// #{$all-text-inputs},
// select,
// textarea {
// 	width: 100%;
//
// 	background-color: #fcfcfc;
// 	border: 1px solid #eee;
// 	resize: none;
// }
//
// select{
// 	padding:10px;
// }
//
// #{$all-text-inputs-focus},
// textarea:focus {
// 	outline: none;
// }
//
//
// label {
// 	font-size: 12px;
// 	text-transform: uppercase;
// 	color: #999;
// }
//
//
// .container {
// 	@include outer-container;
// 	clear: both;
// }
//
//
// @for $i from 1 through 11 {
// 	.column-#{$i} {
// 		@include media(769px) {
// 			@include span-columns($i);
// 		}
// 	}
// }
