<div class="modal">
  <input class="modal-state" id="modal-1" type="checkbox"/>
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close close-button" for="modal-1"></div>
      <div class="modal-content"></div>
    </div>
  </div>
</div>
